body {
    font-family: 'Inconsolata', monospace;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    font-size: 20px;
}

a {
    color: #3b5998;
}

a:hover {
    text-decoration: underline;
    color: #3b5998;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 1.7em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

p {
    padding-top: 8px;
    font-size: 1em;
}

pre {
    margin: 5px 5px 5px 5px;
    font-size: 1em;
}

.navbar {
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
    color: #3b5998;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover {
    text-decoration: underline;
    color: #3b5998;
    font-weight: bold;
}
